.imageRow {
    background-image: url(./images/coderBG.jpg);
    height: 800px;
    background-position: center;
    padding-top: 10vh;

}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p {
    color: white;
}